*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    position: relative;
    z-index: -2;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url("Screenshot\ 2024-04-04\ 144716.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
::-webkit-scrollbar {
    display: none;
}
.main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-end; */
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url("Screenshot\ 2024-04-04\ 144716.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    z-index: -1;
    /* transform-style: preserve-3d;
    animation: animateBg 10s linear infinite alternate; */
}
.main3{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-end; */
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url("Screenshot\ 2024-04-04\ 144716.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100px;
    z-index: -1;
    top: -10px;
    /* transform-style: preserve-3d;
    animation: animateBg 10s linear infinite alternate; */
}
.main2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    top: -10px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url("Screenshot\ 2024-04-04\ 144716.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 210px;
    z-index: -1;
    /* transform-style: preserve-3d;
    animation: animateBg 10s linear infinite alternate; */
}
.main4{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-end; */
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url("Screenshot\ 2024-04-04\ 144716.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    z-index: -1;
    top: -10px;
    /* transform-style: preserve-3d;
    animation: animateBg 10s linear infinite alternate; */
}
.main5{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-end; */
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url("Screenshot\ 2024-04-04\ 144716.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 450px;
    z-index: -1;
    top: -10px;
    /* transform-style: preserve-3d;
    animation: animateBg 10s linear infinite alternate; */
}
.main6{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-end; */
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url("Screenshot\ 2024-04-04\ 144716.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    z-index: -1;
    top: -10px;
    /* transform-style: preserve-3d;
    animation: animateBg 10s linear infinite alternate; */
}

@keyframes animateBg {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.navbar{
    backdrop-filter: blur(20px);
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: sticky;
    width: 100%;
    height: 75px;
    top: 0;
    /* margin-left: 100px; */
    border-radius: 10px;
    padding-bottom: 15px;
    z-index: 100;
    
    
}

footer{
   position: relative;
   width: 100%;
   background-color: #f94327;
   background-image: linear-gradient(316deg, #f94327 0%, #ff7d14 74%);
   min-height: 200px;
   padding: 20px 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    
}
footer .social_icon, footer .fmenu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icon li, footer .fmenu li{
    list-style: none;

}
footer .social_icon li a{
    font-size: 2em;
    margin: 0 10px;
    color: #fff;
    display: inline-block;
    transition: 0.5s;
}
footer .fmenu li a{
    font-size: 1.2em;
    margin: 0 10px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}
footer .fmenu li a:hover{
    opacity: 1;
}
footer .social_icon li a:hover{
    transform: translateY(-10px);
}
footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    font-size: 1.1em;
    line-height: 30px;
}

.icon{
    top: -320px;
    position: relative;
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    position: relative;
    float: left;
    margin-top: 1px;
    left: -30px;
    height: 430%;
    top: -130px;
    filter: drop-shadow(1px 1px 5px rgb(7, 7, 7));
    
}
hr{
    margin-top: 30px;
    text-align: center;
    width: 70%;
    height: 2px;
    border-style: none;
    border-radius: 2px;
    background-color: #ff7200;

}

.menu{
    width: 100%;
    float: left;
    height: 70px;
    display: flex;
    justify-content: center;
    
}
.dropdown:hover ul.dropdown-content {
    display: block;
  }
  
ul.dropdown-content {
display: none;
position: absolute;
top: 25px;
background: #3333339d;
min-width: 150px;
padding-bottom: 10px;
z-index: 1;
}

ul.dropdown-content li {
display: block;
}

ul.dropdown-content li a {
color: white;
padding: 10px 10px 0px 10px;
text-decoration: none;
display: block;
top: -16px;
}

ul.dropdown-content li a:hover {
background-color: #555;
}
#nav{
    position: relative;
    
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav li{
    position: relative;
    list-style: none;
    margin-left: 25px;
    margin-right: 30px;
    margin-top: 27px;
    font-size: 14px;
}

#nav li a{
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

#nav li a::after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -6px;
    height: 3px;
    background: #fff;
    transform-origin: right;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

#nav li a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

#nav li a:hover{
    color: #ff7200;
}

.btn{
    width: 110px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    /* margin-top: 13px; */
    
    font-size: 1.2rem;
    border-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn a{
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #fff;
    transition: 0.2s ease;
}
.btn a:hover{
    color: #ff7200;
}
.btn:hover{
    background: #fff;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    height: 0px;
    margin-left: px;
    color: #fff;
    position: relative;
    
}

.par{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding-top: 10px;
    /* padding-left: 20px; */
    padding-bottom: 25px;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;      
    font-size: 1.1rem;
    letter-spacing: 1.3px;
    line-height: 30px;
    background: transparent;
    backdrop-filter: blur(10px);
    width: 80%;
    border-radius: 5px;
    border: 2px solid rgba(255,255,255,0.5);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    top: -12px;
}

.content h1{
    position: relative;
    top: -237px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    letter-spacing: 2px;
    filter: drop-shadow(1px 1px 5px rgb(7, 7, 7));
}
.content .main-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1);
    transition: transform .5s ease;
}
.main-content.active-popup{
    transform: scale(0);
}
.cn2{
    position: relative;
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #ff7200;
    border-radius: 6px;
    cursor: pointer;
    transition: .4s ease;
    
    text-decoration: none;
    color: #fff;
    transition: .3s ease;
    font-size: 1.1em;
    font-family: Arial;
    font-weight: bold;
}

.cn2:hover{
    background-color: #fff;
    color: #000;
}

.content span{
    color: #ff7200;
    font-size: 65px
}

.form {
    top: -80px;
    width: 400px;
    height: 440px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255,255,255,0.5);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    position: absolute;
    transform: scale(0);
    border-radius: 20px;
    padding: 4px;
    color: #f5f1f1;
    transition: transform .5s ease,height .2s ease;
    overflow: hidden;
}
.form.active{
    height: 520px;
}
.form #frm{
    width: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.form.active #frm.login{
    transition: none;
    transform: translateX(-450px);
}

.form #frm.login{
    transition: transform .18s ease;
    transform: translateX(0);
}
.form.form.active #frm.register{
    transition: transform .18s ease;
    transform: translateX(0);
}
.form #frm.register{
    position: absolute;
    transition: none;
    margin-left: -20px;
    transform: translateX(480px);
}
.form.active-popup{
    transform: scale(1);
}

.form .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    color: #fff;
    background: #ff7200;
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.form h2{
    width: 300px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #111111e1;
    border-radius: 10px;
    margin: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 8px;
    
}

.form input{
    width: 300px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fdfcfc;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #f7f3f3;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    /* margin-left: %; */

    margin-top: 80px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
#login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.programmes{
    height: 400px;
    width: 1100px;
    background-image: radial-gradient( circle 400px at 6.8% 8.3%,  rgba(255,244,169,1) 0%, rgba(255,244,234,1) 100.2% );
    opacity: 0.90;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);

}
.heading{
    display: flex;
    color: #ff7200;
}
.programmes hr{
    width: 100px;
    position: relative;
    top: -10px;
    height: 2px;
    border-style: none;
    border-radius: 2px;
    background-color: #ff7200;
}
.heading p{
    margin-right: 50px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    /* letter-spacing: 2px; */
}
.courseheading{
    display: flex;
    margin-top: 30px;
}
.courseheading a{
    color: #ff7200;
    text-decoration: none;
    margin-right: 100px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5rem;
}
.courseheading a span{
    opacity: 0.75;
}
.coursename{
    display: flex;
    margin-top: 30px;
}
.coursename a{
    color: #ff7200;
    text-decoration: none;
    margin-right: 206px;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    transition: all .5s;
}
.coursename a:hover{
    transform: scale(1.1);
    text-shadow: 0 0 20px #ff7200;
}

.facilities{
    position: relative;
    left: 350px;
    height: 450px;
    width: 1200px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(237,3,32,0.87) 20.8%, rgba(242,121,1,0.84) 74.4% );
    opacity: 0.95;
    padding-top: 30px;
    display: flex;
    padding-left: 50px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);

}
.left p{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
  font-style: normal;
  letter-spacing: 3px;
    font-size: 2.3rem;
}
.left h3{
    color: #fff;
    margin-top: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5rem;
    margin-bottom: 30px;

}
.left span{
    color: #fff;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    opacity: .9;
}
.left a{
    color: #fff;
    text-decoration: none;
    margin-top: 30px;
    display: block;
    font-size: 2.2em;
    opacity: .9;
    transition: transform 1s;
}
.left a:hover{
    transform: translateX(10px);
}

.right{
    height: 350px;
    margin: auto;
    width: 70%;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    top: -15px;
    
}
.slide-container{
    display: flex;
    width: calc(250px*18);
    animation: scroll 30s linear infinite;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*9));
    }
}
.slide-img{
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.slide-img img{
    width: 100%;
    transition: transform 1s;
}
.slide-img .img1{
    width: 104%;
}
.slide-img img:hover{
    transform: translateZ(10px);
}
.faculty{
    height: 600px;
    width: 100%;
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );    
    /* opacity: 0.95; */
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    
}
.faculty p{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 3px;
    font-size: 2.1rem;
    margin-bottom: 30px;
}
.faculty .container{
    display: flex;
    justify-content: space-around;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 50%;
    height: 40%;
    margin-bottom: 50px;
}
.faculty .container a img{
    height: 100%;
    margin-bottom: 10px;
}
.faculty .container a{
    text-decoration: none;
    color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    letter-spacing: 1px;
    transition: all .5s;
}
.faculty .container a:hover{
    color: #ff7200;
    opacity: .9;
}
.faculty .button{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 50%;
}